@keyframes kenburns-top-left {
  0% {
    transform: scale(1) translate(0, 0);
    transform-origin: 16% 16%;
  }

  100% {
    transform: scale(1.25) translate(-20px, -15px);
    transform-origin: top left;
  }
}

@keyframes move-forever {
  0% {
    transform: translate3d(-90px, 0, 0);
  }

  100% {
    transform: translate3d(85px, 0, 0);
  }
}


@keyframes vibrate-1 {
    0% {
        transform: translate(0);
    }

    20% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, 2px);
    }

    80% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}

@keyframes slide-top {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-30px);
    }
}

@keyframes pulsate-fwd-slide {
  0% {
    bottom: 8rem;
    transform: scale(1.1);
  }

  50% {
    bottom: 9rem;
    transform: scale(1);
  }

  100% {
    bottom: 10rem;
    transform: scale(1);
  }
}